@import "tailwindcss";

:root {
  --primary-color: #2254D3;
  --secondary-color: #22D389;

  /* font size */
  --text-xs: 0.75rem;   /* 12px */
  --text-sm: 0.875rem;  /* 14px */
  --text-base: 1rem;    /* 16px */
  --text-lg: 1.125rem;  /* 18px */
  --text-xl: 1.25rem;   /* 20px */
  --text-2xl: 1.5rem;   /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem;  /* 36px */
  --text-5xl: 3rem;     /* 48px */

}

@layer utilities {
  .primary-text {
    color: var(--primary-color);
  }
  .primary-bg {
    background-color: var(--primary-color);
  }
  .secondary-text {
    color: var(--secondary-color);
  }
  .secondary-bg {
    background-color: var(--secondary-color);
  }

  /* font sizes */
  .text-xs { font-size: var(--text-xs); }
  .text-sm { font-size: var(--text-sm); }
  .text-base { font-size: var(--text-base); }
  .text-lg { font-size: var(--text-lg); }
  .text-xl { font-size: var(--text-xl); }
  .text-2xl { font-size: var(--text-2xl); }
  .text-3xl { font-size: var(--text-3xl); }
  .text-4xl { font-size: var(--text-4xl); }
  .text-5xl { font-size: var(--text-5xl); }
}