@import "tailwindcss";

:root {
  --primary-color: #2254D3;
  --secondary-color: #22D389;
}

@layer utilities {
  .primary-text {
    color: var(--primary-color);
  }
  .primary-bg {
    background-color: var(--primary-color);
  }
  .secondary-text {
    color: var(--secondary-color);
  }
  .secondary-bg {
    background-color: var(--secondary-color);
  }
}